[Unit]
Description=CAIT WiFi connection service
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/opt/
ExecStart=/usr/bin/python3 connect_wifi.py

[Install]
WantedBy=multi-user.target
