[Unit]
Description=CAIT Webapp service
After=apache2.service
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/opt/cortic_webapp
ExecStart=/usr/local/bin/gunicorn --threads=2 --bind 0.0.0.0:80 --limit-request-line 0 wsgi:application

[Install]
WantedBy=multi-user.target
