[Unit]
Description=CAIT Components service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/bin/bash /opt/start_cait_components.sh

[Install]
WantedBy=multi-user.target

